[submodule "libs/arkin"]
	path = libs/arkin
	url = git@github.com:linusepk/arkin.git
[submodule "libs/shaderc"]
	path = libs/shaderc
	url = git@github.com:google/shaderc.git
[submodule "libs/spirv_cross"]
	path = libs/spirv_cross
	url = git@github.com:KhronosGroup/SPIRV-Cross.git
