[submodule "libs/arkin"]
	path = libs/arkin
	url = git@github.com:linusepk/arkin.git
[submodule "libs/spirv_cross"]
	path = libs/spirv_cross
	url = git@github.com:KhronosGroup/SPIRV-Cross.git
[submodule "libs/glslang"]
	path = libs/glslang
	url = git@github.com:KhronosGroup/glslang.git
